footer {
    background-color: #1abc9c;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

/*Footer Text*/
#footer-title {
    color: #464952;
    padding: 10px;
    text-align: center;
}

/*Extra Row on Footer*/
#footer-row {
    padding: 10px;
}

