/*Heading Bar*/
.navbar {
    padding: 5px 20px;
    text-align: left;
    background: #1abc9c;
    height: 65px;
}

/*LAN Heading*/
.heading {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

/*LAN Heading Hover*/
.heading:hover {
    color: #462828;
}

/*Loggedin User*/
#loggedin-user {
    color: white;
    margin-top: 15px;
    font-family: "Bellota";
}


/*Login Logout button container*/
.login-logout-buttons {
    alignment: right;
}

/*All buttons on header*/
.btn {
    margin-left: 8px;
}
