.person-card-container {
    /* flex:0 0 100%; */

    background-color: white;
    color: black;
    text-align: left;
    /* align-items: center; */
    padding: 2.5% 3% 3% 3%;
    /* margin: 1.5% 6%; */
    border-radius: 20px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    /* align-items: flex-start; */

}

.person-card-container h4 {
    width: 35%;
}


.person-card-container img {
    width: 64px;
    height: 64px;
    /* flex: 1; */
}

.person-card-container .link-container {
    
    width: 80%;
}

.name{
    margin-top: 10px;
    margin-left: -20px;
}

