.popup {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
.Popup-Content {
    position: relative;
    width: 40%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

.options{
  align-items: baseline;
  width: 100%;
  display: inline-flex;

}

.content {
  margin: 20px 5px;
}

.cancel {
  color:black;
  margin:0;
}

.confirm {
  color: white;
  margin-left: auto;
}