/*Post Styling*/
.post-form {
    padding: 1% 3% 1% 3%;
    margin: 1.5% 3%;
    border-radius: 20px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);

}

/*Post Text*/
#post-text {
    color: #000000;
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-top: 1%;
}

/*Post Delete Button*/
.delete-button {
    text-align: right;
}


/*Avatar Image*/
#post-avatar {
    width: 36px;
}

/*Post Image*/
#post-image {
    margin-top: 1%;
    max-width: 100%;
}

/*Post Author Name*/
#post-author {
    padding-top: 15px;
    font-weight: bold;

}

/*Title Comments*/
.comment-heading {
    margin-left: 10px;
    font-size: 15px;
}