/*Signup Heading*/
#create-post-heading {
    color: #000000;
    font-weight: bold;
    font-size: 35px;
    text-align: left;
}

/*Create Post Styling*/
.create-post-form {
    padding: 2.5% 3% 3% 3%;
    margin: 2% 17%;
    border-radius: 20px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);

}

#publish-button {
    float: right;
}