
.People-Container {
    background-color: white;
    color: black;
    text-align: left;
    align-items: center;
    /* padding: 2.5% 3% 3% 3%; */
    margin: 1.5% 6%;
    border-radius: 20px;
    /* box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2); */
    /* display:flex; */
    /* flex-direction: column; */
    /* flex-wrap:wrap; */
}

.People-Container h1 {
    /* flex: 0 0 100%; */
    width: 100%;
    text-align: left;
}