.profile-body 
{
    background-color: white;
    color: black;
    text-align: left;
    align-items: center;
    padding: 2.5% 3% 3% 3%;
    margin: 2% 10%;
    border-radius: 20px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    display:flex;
}

.Profile-Pic{
    width:200px;
    height:200px;
}

.profile-body h1 {
    color: #000000;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}