.signin-form {
    align-items: center;
    /* width: 700px; */
    text-align: left;
    padding: 2.5% 3% 3% 3%;
    margin: 2% 10%;
    border-radius: 20px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.signin-box {
    align-items: center;
}

.submit-button {
    background-color: #1abc9c;
    border-style: none;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    color:white;
}

.submit-button:hover {
    background:  #15a328;
    border-style: none;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    color:white;
}