/*Signup Heading*/
#signup-heading {
    color: #000000;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}

/*Avatar Image*/
#avatar {
    width: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Signup Form Styling*/
.signup-form {
    padding: 2.5% 3% 3% 3%;
    margin: 2% 10%;
    border-radius: 20px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);

}