.body {
  align-items: center;
  text-align: center;
}

/*Import Google Font Bellota*/
@import url('https://fonts.googleapis.com/css?family=Bellota');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



/*Show the most recent posts and comments*/
.reverse-list{
  display: flex;
  flex-direction: column-reverse;}

html,.App {
  background: url("./img/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
