.body {
  align-items: center;
  text-align: center;
}

/*Import Google Font Bellota*/
@import url('https://fonts.googleapis.com/css?family=Bellota');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



/*Show the most recent posts and comments*/
.reverse-list{
  display: flex;
  flex-direction: column-reverse;}

.App {
  width: 100vw;
  height: 100vh;
  background-image: url("./img/background.jpg");
  background-size: 100vw;
  /* background-color: aquamarine; */
}